body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Monaco, monospace;
    background: linear-gradient(-45deg, #0b3d91, #4b0082, #160b3d, #000033);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.header {
    display: flex;
    align-items: center;
    /*background-color: #001d5f;*/
    background-color: #00000030;
    color:#ffffff;
    height: 60px;
    padding: 10px;
    box-shadow: 0px 4px 5px #00000050;
}
#logo {
    height: 40px;
    margin-right: 10px;
}
.title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
.main-content {
    text-align: center;
    padding: 50px 0;
    /*background-color: #16357d;*/
    color:#ffffff;
    height: 100vh;
}
.dropdowns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.dropdown {
    margin: 0 20px;
}
.dropdown select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #8c52ff;
    font-size: 16px;
    appearance: none;
    cursor: pointer;
    text-align: center;
    background-color: #00000037;
    color: #ffffff;
}
#welcome {
    text-shadow: 0px 4px 4px #00000095;
    font-size: 50px;
    /* margin-bottom: 20px; */
}
.swap {
    width: 100px;
    height: 30px;
}
#calculate {
    margin-top: 15px;
    border-radius: 5px;
    padding: 5px;
    background-color: #8c52ff;
    color: #ffffff;
    border: 1px solid #ffffff00;
    box-shadow: 0px 4px 5px #00000050;
}
.results {
    text-shadow: 0px 4px 4px #00000080;
    margin-top: 50px;
}
#coinGecko {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 15px;
    color: #ffffff;
    text-shadow: 0px 2px 3px #00000060;
    font-size: 12px;
}